[submodule "oh-my-zsh/installation"]
	path = oh-my-zsh/installation
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "oh-my-zsh/custom/plugins/thefuck"]
	path = oh-my-zsh/custom/plugins/thefuck
	url = https://github.com/nvbn/thefuck.git
