[submodule "apps/nvim/vim-plug"]
	path = apps/nvim/vim-plug
	url = git@github.com:junegunn/vim-plug.git
[submodule "apps/oh-my-zsh/installation"]
	path = apps/oh-my-zsh/installation
	url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "apps/oh-my-zsh/custom/plugins/omz-autocomplete"]
	path = apps/oh-my-zsh/custom/plugins/omz-autocomplete
	url = git@github.com:marlonrichert/zsh-autocomplete.git
